

<div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
        <div class="ui large secondary pointing menu">
            <a href="/" id="logoName" class="item">WorkForcers</a>
            <a class="toc item"><i class="sidebar icon"></i></a><a
                href='/about_product' class="active
                item">About Product</a><a href="/testimonials"
                class="item">Testimonials</a><a href="/contacts"
                class="item">Contacts</a>
            <div class="right item">
                <a href="/login" class="ui inverted
                    inverted button">login</a>
                <a href="/pricing" class="ui inverted button">Pricing</a><a
                    href="/try_for_free" class="ui primary
                    inverted button">Try For
                    Free</a>
            </div>
        </div>
    </div>