
<div class="ui vertical sidebar menu">
    <a href="/" id="logoName" class="item">WorkForcers</a>
    <a href='/about_product' class="active item">About Product</a><a
        href="/testimonials" class="item">Testimonials</a><a href="/contacts"
        class="item">Contacts</a><a
        href="/pricing" class="item">Pricing</a><a href="/try_for_free"
        class="item">Try For
        Free</a>
</div>