<%include ./partials/header%>

    <!--Sidebar Menu-->
    <%include ./partials/sideMenu%>

        <div class="pusher">
            <%include ./partials/menuBar%>
                <%include ./partials/footer%>
                </div>