<h1><%= message %></h1>
    <h2><%= error.status %></h2>
        <pre><%= error.stack %></pre>
            <%include ./partials/header%>

                <!--Sidebar Menu-->
                <%include ./partials/sideMenu%>

                    <div class="pusher">
                        <%include ./partials/menuBar%>
                            <%include ./partials/footer%>
                            </div>