
<%include ./partials/header%>

  <!--Sidebar Menu-->
  <%include ./partials/sideMenu%>
    <!--Page Contents-->
    <div class="pusher">
      <%include ./partials/menuBar%>
        <div id="hero">
          <div class="ui text container">
            <h1 class="ui header">
              WorkForce management Application
            </h1>
            <h2>
              Scheduling, staffing, time reporting, communication and task
              management has never been easier!
            </h2>

            <a class="ui huge orange button" href="/try_for_free">Try For Free<i
                class="right arrow icon"></i></a>


          </div>
        </div>
      </div>


      <div id="welcomeSegment" class="ui two column centered stackable grid">
        <div class="ui column center aligned"><h1 class="ui huge header">Welcome
            to the
            future of workforce management</h1></div>
        <div class="four column centered row">
          <div class="column center aligned"><h4 class="ui small
              header">COMPLETE CONTROL</h4>
            <br>
            Set the schedule for your entire organisation or individual
            departments with a simple click. The system checks against working
            time directives and employee contracts – giving you peace of mind.</div>
          <div class="column center aligned"><h4 class="ui small
              header">INCREASED PRODUCTIVITY</h4><br>
            Create an optimal schedule with the help of forecast algorithms and
            rules. This will make sure you have the right person, with the right
            skills, at the right place – at the right time.</div>

          <div class="column center aligned"><h4 class="ui small
              header">SAVE MONEY</h4><br>
            Staff planning and sound finances go hand in hand. Taking expected
            sales into account when creating the schedule can do wonders for
            your
            profit margin.</div>
        </div>
      </div>
      <div id="aboutDivider"></div>
      <%include ./partials/footer%>
      </div>
