
<%include ./partials/header%>

  <!--Sidebar Menu-->
  <%include ./partials/sideMenu%>
    <!--Page Contents-->
    <div class="pusher">
      <%include ./partials/menuBar%>
        <div id="hero">
          <div class="ui text container">
            <h1 class="ui header">
              WorkForce management Application
            </h1>
            <h2>
              Scheduling, staffing, time reporting, communication and task
              management has never been easier!
            </h2>

            <a class="ui huge orange button" href="/try_for_free">Try For Free<i
                class="right arrow icon"></i></a>


          </div>
        </div>
      </div>


      <div id="welcomeSegment" class="ui two column centered stackable grid">
        <div class="ui column center aligned"><h1 class="ui huge header">Welcome
            to the
            future of workforce management</h1></div>
        <div class="four column centered row">
          <div class="column center aligned"><h4 class="ui small
              header">COMPLETE CONTROL</h4>
            <br>
            Set the schedule for your entire organisation or individual
            departments with a simple click. The system checks against working
            time directives and employee contracts – giving you peace of mind.</div>
          <div class="column center aligned"><h4 class="ui small
              header">INCREASED PRODUCTIVITY</h4><br>
            Create an optimal schedule with the help of forecast algorithms and
            rules. This will make sure you have the right person, with the right
            skills, at the right place – at the right time.</div>

          <div class="column center aligned"><h4 class="ui small
              header">SAVE MONEY</h4><br>
            Staff planning and sound finances go hand in hand. Taking expected
            sales into account when creating the schedule can do wonders for
            your
            profit margin.</div>
        </div>
      </div>
      <div id="aboutDivider"></div>
      <div id="testimonialsHeader" class="ui blue inverted sizer
        vertical segment">

        <div class="ui centered huge header">About</div>


      </div>
      <div id="aboutDivider"></div>
      <div class="ui stackable grid container">

        <div class="row">

          <div class="eight wide column">
            <div class="ui huge header">About Product</div>
            <h2 class="ui sub header">ADVANCED EMPLOYEE
              SCHEDULING SOFTWARE MADE SIMPLE</h2>
            <p> WORKFORCERS helps you build an employee
              schedule
              faster by taking into account staff
              vacation,
              availability, payroll costs, and
              more. Sign up for a free 30 day trial below.</p>
          </div>
          <div class="eight wide column">
            <img class="ui centered large image"
              src="./images/scheduling_system.png">
          </div>

        </div>

        <div id="aboutDivider" class="divider"></div>
        <div class="row">
          <div class="eight wide column">
            <div class="ui
              embed" data-url="https://www.youtube.com/embed/nLCst8nFEqE">
            </div>
          </div>
          <div class="eight wide column">
            <div class="ui huge header">Drag & drop scheduling</div>
            <h2 class="ui sub header">ADVANCED EMPLOYEE
              SCHEDULING SOFTWARE MADE SIMPLE</h2>
            <p> Our simple, straightforward drag & drop shift
              planner keeps you focused on who you're
              scheduling, not how you're
              scheduling.</p>
          </div>


        </div>
        <div id="aboutDivider" class="divider"></div>
        <div class="row">
          <div class="ui stackable link three cards">
            <div class="ui raised card">
              <div class="image">
                <img src="./images/revenue@2x-1.jpg">
              </div>
              <div class="content">
                <div class="header">See financial
                  reports in the
                  schedule</div>

                <div class="description">
                  In the Schedule, you can see hours
                  worked,
                  payroll costs, revenue, the
                  percentage of
                  revenue paid in salaries, and how
                  that aligns with your targets. With
                  this
                  feature, you can instantly see an
                  in-depth
                  report on your business metrics as
                  you build your schedule.
                </div>
              </div>

            </div>
            <div class="ui raised card">
              <div class="image">
                <img src="./images/schedule-template.jpg">
              </div>
              <div class="content">
                <div class="header">Schedule templates</div>
                <div class="description">
                  Templates let you very quickly roll
                  out a new
                  schedule. You can create a template
                  based on an
                  existing schedule, or make
                  one from scratch in the template
                  editor. Use the
                  template editor to keep your
                  schedule in draft
                  mode until you’re ready
                  to publish.
                </div>
              </div>

            </div>
            <div class="ui raised card">
              <div class="image">
                <img src="./images/vacation-request.jpg">
              </div>
              <div class="content">
                <div class="header">Manage employee
                  availability
                  easily</div>

                <div class="description">
                  Employees can inform their manager
                  when they
                  prefer to work. They can also edit
                  their
                  availability in real-time so that
                  it’s always up to date. This makes
                  for happier
                  employees and less time spent
                  updating the
                  schedule to accommodate
                  requests.
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>
      <div id="aboutDivider"></div>
      <div id="testimonialsHeader" class="ui teal inverted sizer
        vertical segment">

        <div class="ui centered huge header">Pricing</div>


      </div>
      <div id="aboutDivider"></div>

      <div id="pricingContainer" class="ui container">
        <div class="ui three columns stackable grid">
          <div class="column">
            <div class="ui segments plan">
              <div class="ui top attached segment violet
                inverted plan-title">
                <span class="plan-ribbon yellow">Free</span>
                <span class="ui header">Starter</span>
              </div>
              <div class="ui attached segment feature">

                <div class="amount">Free</div>
              </div>
              <div class="ui attached secondary segment
                feature">

                per user, per month*
              </div>
              <div class="ui attached segment feature">
                Automation tools for basic scheduling needs
              </div>

              <a class="ui bottom attached violet button
                btn-plan" href="/try_for_free"><i class="cart
                  icon"></i>
                Try Now</a>


            </div>
          </div>
          <div class="column">
            <div class="ui segments plan principal">
              <div class="ui top attached segment violet
                inverted plan-title">
                <span class="plan-ribbon green">POPULAR</span>
                <span class="ui header">Premium</span>
              </div>
              <div class="ui attached segment feature">
                <span class="regular-price">50&euro;</span>
                <div class="amount">25&euro;</div>
              </div>
              <div class="ui attached secondary segment
                feature">
                per user, per month*
              </div>
              <div class="ui attached segment feature">
                Perfect for most – all the key tools to
                optimize scheduling
              </div>
              <a class="ui bottom attached violet button
                btn-plan" href="/try_for_free"><i class="cart
                  icon"></i>
                Try Now</a>

            </div>
          </div>
          <div class="column">
            <div class="ui segments plan">
              <div class="ui top attached segment violet
                inverted plan-title">
                <span class="plan-ribbon red">HOT</span>
                <span class="ui header">Business</span>
              </div>
              <div class="ui attached segment feature">
                <span class="regular-price">299&euro;</span>
                <div class="amount">199&euro;</div>
              </div>
              <div class="ui attached secondary segment
                feature">
                per user, per month*
              </div>
              <div class="ui attached segment feature">
                Robust workforce management for larger
                organizations

              </div>
              <a class="ui bottom attached violet button
                btn-plan" href="/try_for_free"><i class="cart
                  icon"></i>
                Try Now</a>

            </div>
          </div>
        </div>
      </div>
      <div id="aboutDivider"></div>
      <%include ./partials/footer%>
      </div>
