<%include ./partials/header%>

    <!--Sidebar Menu-->
    <%include ./partials/sideMenu%>

        <div id="pricingPusher" class="pusher">
            <%include ./partials/menuBar%>
                <div id="aboutDivider"></div>
                <div id="pricingContainer" class="ui container">
                    <div class="ui three columns stackable grid">
                        <div class="column">
                            <div class="ui segments plan">
                                <div class="ui top attached segment violet
                                    inverted plan-title">
                                    <span class="plan-ribbon yellow">Free</span>
                                    <span class="ui header">Starter</span>
                                </div>
                                <div class="ui attached segment feature">

                                    <div class="amount">Free</div>
                                </div>
                                <div class="ui attached secondary segment
                                    feature">

                                    per user, per month*
                                </div>
                                <div class="ui attached segment feature">
                                    Automation tools for basic scheduling needs
                                </div>

                                <a class="ui bottom attached violet button
                                    btn-plan" href="/try_for_free"><i
                                        class="cart
                                        icon"></i>
                                    Try Now</a>


                            </div>
                        </div>
                        <div class="column">
                            <div class="ui segments plan principal">
                                <div class="ui top attached segment violet
                                    inverted plan-title">
                                    <span class="plan-ribbon green">POPULAR</span>
                                    <span class="ui header">Premium</span>
                                </div>
                                <div class="ui attached segment feature">
                                    <span class="regular-price">50&euro;</span>
                                    <div class="amount">25&euro;</div>
                                </div>
                                <div class="ui attached secondary segment
                                    feature">
                                    per user, per month*
                                </div>
                                <div class="ui attached segment feature">
                                    Perfect for most – all the key tools to
                                    optimize scheduling
                                </div>
                                <a class="ui bottom attached violet button
                                    btn-plan" href="/try_for_free"><i
                                        class="cart
                                        icon"></i>
                                    Try Now</a>

                            </div>
                        </div>
                        <div class="column">
                            <div class="ui segments plan">
                                <div class="ui top attached segment violet
                                    inverted plan-title">
                                    <span class="plan-ribbon red">HOT</span>
                                    <span class="ui header">Business</span>
                                </div>
                                <div class="ui attached segment feature">
                                    <span class="regular-price">299&euro;</span>
                                    <div class="amount">199&euro;</div>
                                </div>
                                <div class="ui attached secondary segment
                                    feature">
                                    per user, per month*
                                </div>
                                <div class="ui attached segment feature">
                                    Robust workforce management for larger
                                    organizations

                                </div>
                                <a class="ui bottom attached violet button
                                    btn-plan" href="/try_for_free"><i
                                        class="cart
                                        icon"></i>
                                    Try Now</a>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div id="aboutDivider"></div>
        </div>
        <%include ./partials/footer%>