<%include ./partials/header%>

    <!--Sidebar Menu-->
    <%include ./partials/sideMenu%>

        <div class="pusher">
            <%include ./partials/menuBar%>

                <div id="testimonialsHeader" class="ui olive inverted sizer
                    vertical segment">

                    <div class="ui huge header">Testimonials</div>


                </div>
                <div class="ui two column stackable grid container">
                    <div id="aboutDivider"></div>
                    <div class="row">
                        <div class="column"><blockquote class="ui testimonial">
                                <p class="ui quote">"Workforcers has got
                                    everything I need."</p>
                                <footer class="ui citation">Robin H. <img
                                        src="https://avatars.dicebear.com/v2/male/Stepas.svg"
                                        class="ui avatar image" alt="the great
                                        emancipator"></footer>
                            </blockquote>
                        </div>
                        <div class="column">
                            <blockquote class="ui testimonial">

                                <p class="ui quote">"Thanks Workforcers!
                                    Workforcers was worth a fortune to my
                                    company. Just what I was looking for."</p>
                                <footer class="ui citation">Tabbitha H. <img
                                        src="https://avatars.dicebear.com/v2/female/lili.svg"
                                        class="ui avatar image" alt="the great
                                        emancipator"></footer>
                            </blockquote>
                        </div><div class="column">
                            <blockquote class="ui testimonial">

                                <p class="ui quote">"Since I invested in
                                    Workforcers I made over 100,000 dollars
                                    profits. This is simply unbelievable! The
                                    service was
                                    excellent. I made back the purchase price in
                                    just 48 hours!"</p>
                                <footer class="ui citation">Cindra S. <img
                                        src="https://avatars.dicebear.com/v2/female/rose.svg"
                                        class="ui avatar image" alt="the great
                                        emancipator"></footer>
                            </blockquote>
                        </div>
                        <div class="column">
                            <blockquote class="ui testimonial">

                                <p class="ui quote">"Workforcers is great. I
                                    would be lost without Workforcers. I love
                                    Workforcers. We can't understand how we've
                                    been
                                    living without Workforcers."</p>
                                <footer class="ui citation">Yolane J. <img
                                        src="https://avatars.dicebear.com/v2/male/james.svg"
                                        class="ui avatar image" alt="the great
                                        emancipator"></footer>
                            </blockquote>
                        </div>
                    </div>


                </div>

            </div>


        </div>
        <%include ./partials/footer%>